---
import Layout from '../layouts/Layout.astro';
import {releases} from '../releases.js';

const allReleases = await releases;
const latest = allReleases[0];
const older = allReleases.slice(1);
---
<Layout>
  <h1 class="center">GeoParquet Releases</h1>

  <h2>Latest Release</h2>
  <ul>
    <li>
      <a href={"./v" + latest.version + "/"}>v{latest.version}</a> (<a href={"./v" + latest.version + "/schema.json"}>schema</a>)
    </li>
  </ul>

  <h2>Older Releases</h2>
  <ul>
  {older.map(release =>
    <li>
      <a href={"./v" + release.version + "/"}>v{release.version}</a> (<a href={"./v" + release.version + "/schema.json"}>schema</a>)
    </li>
  )}
  </ul>
</Layout>
