---
import '../styles/global.css';
const {title} = Astro.props
---
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="GeoParquet describes an encoding for geospatial data in Parquet">
  <title>{title}</title>
  <link href="https://unpkg.com/prismjs@1.29.0/themes/prism.min.css" rel="stylesheet">
</head>

<body>
  <slot />
</body>

</html>